h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: Khaki;
  font-weight: bold;
  font-family: Helvetica;
}

h3, p {font-family: Helvetica;}

h2 {
  font-family: Helvetica, Sans-Serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brush {background-color: mediumspringgreen;}

#frame {background-color: lightcoral;}

#paint {background-color: skyblue;}

.price {
  font-weight: bold;
  color: blue;
}